################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/debug
/.vs/quake2
