################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/debug
/.vs/quake2
/release
/ref_soft/debug
/ref_soft/release
